/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
font-family:Poppins!important;
}
.link {
    padding: 20px 20px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none !important;
}

.menu-drop {
    top: 100% !important;
    text-align: left;
    border-top: 3px solid #14a3b9 !important;
    -webkit-box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
    margin-top: -13px !important;
    margin-left: 4px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
    border: 1px solid #fff;
    border-radius: 0px !important;
}
.footer-style {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
table {
    margin-bottom: 61px!important;
}
.menu-element {
    padding: 9px 20px;
    display: block;
}
.menu-element:focus,.menu-element:hover{
    color: #fff;
    background-color: #14b0b98f;
}
.menu-element:active{
    color: #fff;
    text-decoration: none;
    background-color: #7bc5d8;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.text-white {
    font-size: 14px;
    color:rgba(255, 255, 255, 0.7) !important
}

.text-white:hover,.text-white:focus{
    color:#fff!important;
}

.login-form{
    padding:50px;
    color:rgb(204,204,204);
}
.select {
    color: #289668;
    background: white;
    height: 34px;
    position: relative;
    float: right;
}

.login-form form {
    background-color: #fdfdfd;
    max-width: 400px;
    margin: auto;
    padding: 40px 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.form-employee {
    padding: 10px 10px 10px 10px;
    background: linear-gradient(360deg, rgba(0,36,25,1) 0%, rgba(9,121,84,1) 35%, rgba(0,255,171,1) 100%);
    color:white;
    margin-bottom: 10px;
}
.form-department {
    padding: 10px 10px 10px 10px;
    color: black;
    margin-bottom: 10px;
    border-bottom: 2px solid #d6cfcf;

}
.form-position {
    padding: 10px 10px 10px 10px;
    background: linear-gradient(360deg, rgb(36 29 0) 0%, rgb(121 102 9) 35%, rgb(255 224 0) 100%);
    color: white;
    margin-bottom: 10px;
}
.bottom-form {
    margin-top: 8px;
    margin-bottom: 8px;
}
.btn-create {
    background: #1c8b91;
    color: white;
    font-size: 17px;
    border-radius: 11px;
}
.btn-create:hover {
    text-decoration: none;
    background-color: #397878 !important;
    opacity:1 !important;
    color:white;
}
.btn-create:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(40 112 102 / 25%);
    background: rgb(12 116 112) !important;
    color:white;
}
.badge-create {
    background: #20abb9;
    width: 74px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-create:hover{
    color:white;
    background: #1f848f;
}
.badge-add-department {
    background: #07a369;
    width: 74px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-add-position:hover {
    color: white;
    background: #a1bb10;
}
.badge-add-position {
    background: #73831d;
    width: 74px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-add-department:hover{
    color:white;
    background: #1f8f56;
}
.badge-edit {
    background: #ffc107;
    width: 81px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-edit:hover{
    color:white;
    background: #ff9c07;
}
.badge-details {
    background: #0dcaf0;
    width: 97px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-details:hover{
    color:white;
    background: #1ec5cd;
}
.badge-delete {
    background: #f1172c;
    width: 97px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-delete:hover{
    color:white;
    background: #dc3545;
}
.badge-back {
    background: #f1172c;
    width: 138px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-back:hover{
    color:white;
    background: #dc3545;
}
.table-employee:hover {
    background: rgb(45 199 156 / 76%);
    color: white!important;
}
.table-position:hover {
    background: rgb(231 144 36 / 88%);
    color: white !important;
}
.table-department:hover {
    background: rgb(90 209 148);
    color: white !important;
}
.table-employee-color {
    color: white;
    background: #14b99a !important;
    height: 65px;
    font-size: 15px;
}
.table-department-color {
    color: white;
    background: #14b956 !important;
    height: 65px;
    font-size: 15px;
}
.table-position-color {
    color: white;
    background: #cf7315 !important;
    height: 65px;
    font-size: 15px;
}
.details-header {
    background: #16bfc7;
    color: white;
}
.input-i {
    position: relative;
    display: flex;
    top: 8px;
}
.icon {
    display: flex;
    top: 36px;
    position: absolute;
    left: 24px;
    font-size: 19px;
}
.icon2 {
    top: 34px;
    position: relative;
    left: 11px;
    font-size: 19px;
}
.form-back {
    background-color: #fdfdfd;
    color: #78c2ad;
    border-radius: 15px;
}
.form-backd {
    background-color: rgb(37,37,37);
    color: #22a6e5;
}
.form-input {
    padding: 7px 10px 10px 40px;
    border-radius: 10px;
    margin-bottom: 13px;
    background-color: #ededed;
}
label {
    color: black;
}
.login-form .form-name{
    text-align:center;
    font-size:46px;
    color:#78c2ad;
    height:100px;
    margin:auto;
    margin-bottom:25px;
    line-height:80px;
}
.login-form .form-name .zerologo {
        width: 100%;
        height: 206px;
    }

.login-form .item{
    border-radius:10px;
    margin-bottom:25px;
    padding: 10px 20px;
    border:0px;
}

.login-form .item:focus {
        color: #78c2ad;
        background-color: #fff;
        border-color: #ffffff;
        outline: 0;
        box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%)!important;
        border-bottom: 5px !important;
        border: 3px solid !important;
        border-left: 0px !important;
        border-right: 0px !important;
        border-top: 0px !important;
}

.login-form .login-account{
    border-radius:20px;
    padding:10px 20px;
    font-weight:bold;
    background-color:#78c2ad;
    border:none;
    color:#fff;
    margin-top:20px;
}
.login-form .social-media {
    max-width: 400px;
    background-color: #fdfdfd;
    margin: auto;
    padding: 30px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #78c2ad;
    border-top: 1px solid #dee9ff;
}
.btn {
display:block;
width:100%;
padding:10px 15px;
border:0;
border-radius:5px;
margin:5px 0;
}
.btn-footer {
    margin: 5px 0 0px 5px!important;
}
.btn:hover{
    text-decoration:none;
    opacity:0.5;
}
.login-form .social-icons {
margin-top:20px;
margin-bottom:15px;
}
.login-form .social-icons a {
    font-size:20px;
    margin:3px;
    color:#78c2ad;
    border:1px solid;
    border-radius:50%;
    width:45px;
    display:inline-block;
    height:45px;
    background-color:#000;
    line-height:45px;
}

.login-form .social-icons a:hover{
    text-decoration:none;
    opacity:0.6;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
