/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.login-form{
    padding:50px;
    color:rgb(204,204,204);
}

.login-form form {
    background-color:rgb(37,37,37);
    max-width:400px;
    margin:auto;
    padding:40px 60px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;

}
.form-employee {
    padding: 10px 10px 10px 10px;
    background: linear-gradient(360deg, rgba(0,36,25,1) 0%, rgba(9,121,84,1) 35%, rgba(0,255,171,1) 100%);
    color:white;
    margin-bottom: 10px;
}
.form-department {
    padding: 10px 10px 10px 10px;
    background: linear-gradient(360deg, rgb(0 25 36) 0%, rgb(9 121 121) 35%, rgb(0 255 231) 100%);
    color: white;
    margin-bottom: 10px;
}
.form-position {
    padding: 10px 10px 10px 10px;
    background: linear-gradient(360deg, rgb(36 29 0) 0%, rgb(121 102 9) 35%, rgb(255 224 0) 100%);
    color: white;
    margin-bottom: 10px;
}
.bottom-form {
    margin-top: 8px;
    margin-bottom: 8px;
}
.btn-create {
    background: #1c8b91;
    color: white;
    font-size: 17px;
    border-radius: 11px;
}
.btn-create:hover {
    text-decoration: none;
    background-color: #397878 !important;
    opacity:1 !important;
    color:white;
}
.btn-create:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(40 112 102 / 25%);
    background: rgb(12 116 112) !important;
    color:white;
}
.badge-create {
    background: #20abb9;
    width: 74px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-create:hover{
    color:white;
    background: #1f848f;
}
.badge-add-department {
    background: #07a369;
    width: 74px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-add-position:hover {
    color: white;
    background: #a1bb10;
}
.badge-add-position {
    background: #73831d;
    width: 74px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-add-department:hover{
    color:white;
    background: #1f8f56;
}
.badge-edit {
    background: #ffc107;
    width: 81px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-edit:hover{
    color:white;
    background: #ff9c07;
}
.badge-details {
    background: #0dcaf0;
    width: 97px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-details:hover{
    color:white;
    background: #1ec5cd;
}
.badge-delete {
    background: #f1172c;
    width: 97px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-delete:hover{
    color:white;
    background: #dc3545;
}
.badge-back {
    background: #f1172c;
    width: 138px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}
.badge-back:hover{
    color:white;
    background: #dc3545;
}
.table-employee:hover {
    background: rgb(45 199 156 / 76%);
    color: white!important;
}
.table-position:hover {
    background: rgb(231 144 36 / 88%);
    color: white !important;
}
.table-department:hover {
    background: rgb(90 209 148);
    color: white !important;
}
.table-employee-color {
    color: white;
    background: #14b99a !important;
    height: 65px;
    font-size: 20px;
}
.table-department-color {
    color: white;
    background: #14b956 !important;
    height: 65px;
    font-size: 20px;
}
.table-position-color {
    color: white;
    background: #cf7315 !important;
    height: 65px;
    font-size: 20px;
}
.details-header {
    background: #16bfc7;
    color: white;
}
.input-i {
    position: relative;
    display: flex;
    top: 8px;
}
.icon {
    display: flex;
    top: 36px;
    position: absolute;
    left: 24px;
    font-size: 19px;
}
.icon2 {
    top: 34px;
    position: relative;
    left: 11px;
    font-size: 19px;
}
.form-back {
    background-color: rgb(37,37,37);
    color: #78c2ad;
}
.form-backd {
    background-color: rgb(37,37,37);
    color: #22a6e5;
}
.form-input {
    padding: 7px 10px 10px 40px;
    border-radius: 10px;
    margin-bottom: 13px;
    background-color: #ededed;
}
label {
    color:white;
}
.login-form .form-name{
    text-align:center;
    font-size:46px;
    color:#78c2ad;
    height:100px;
    margin:auto;
    margin-bottom:25px;
    line-height:80px;
}
.login-form .form-name .zerologo {
        width: 100%;
        height: 206px;
    }

.login-form .item{
    border-radius:10px;
    margin-bottom:25px;
    padding: 10px 20px;
}

.login-form .login-account{
    border-radius:20px;
    padding:10px 20px;
    font-weight:bold;
    background-color:#78c2ad;
    border:none;
    color:#fff;
    margin-top:20px;
}
    .login-form .social-media {
        max-width: 400px;
        background-color: rgb(37,37,37);
        margin: auto;
        padding: 30px 0;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color:#78c2ad;
        border-top:1px solid #dee9ff;
    }
.btn {
display:block;
width:100%;
padding:10px 15px;
border:0;
border-radius:5px;
margin:5px 0;

}
.btn:hover{
    text-decoration:none;
    opacity:0.5;
}
.login-form .social-icons {
margin-top:20px;
margin-bottom:15px;
}
.login-form .social-icons a {
    font-size:20px;
    margin:3px;
    color:#78c2ad;
    border:1px solid;
    border-radius:50%;
    width:45px;
    display:inline-block;
    height:45px;
    background-color:#fff;
    line-height:45px;
}

.login-form .social-icons a:hover{
    text-decoration:none;
    opacity:0.6;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
