@{
    ViewData["Title"] = "Home Page";
}

<div class="container-lg" style="max-width: 881px !important; max-height: 586px; margin-bottom: 24px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h5 class="position-absolute top-50 start-50 translate-middle" style="color:white;font-size:52px;"><b>ANALYTICS 📈📊</b></h5>
                <img src="~/images/1.png" class="d-block w-100 border border-3 rounded-3 shadow" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p style="font-size:25px;" class="animated bounce infinite"><b>Our System provide the best analytics to your nominees.</b></p>
                </div>
            </div>
            <div class="carousel-item">
                <h5 class="position-absolute top-50 start-50 translate-middle" style="color:white;font-size:52px;"><b>WORKING 💻🖥</b></h5>
                <img src="~/images/2.png" class="d-block w-100 border border-3 rounded-3 shadow" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p style="font-size:25px;"><b>Always are working for you and your nominees, using the best technology and tools on the market.</b></p>
                </div>
            </div>
            <div class="carousel-item">
                <h5 class="position-absolute top-50 start-50 translate-middle" style="color:white;font-size:52px;"><b>CREATIVITY 💡</b></h5>
                <img src="~/images/3.png" class="d-block w-100 border border-3 rounded-3 shadow" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p style="font-size:25px;"><b>Always are working for you and your nominees, using the best technology and tools on the market.</b></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>