@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var texts = ["Welcome to", "Creativity is important", "Our System"];
    var texts2 =["Nominee Project!","to us!", "is secure and fast!"];
    var count = 0;

    function changeText() {
        $("#example").text(texts[count] + " " + texts2[count]);
        count < 3-1 ? count++ : count = 0;
    }

    function WriteText() {
        var cont2 = $(".p2");
        var cont1 = $(".p1").text("");
        var speed = 100;
        var Otext = cont2.text();
        var Ocontent = Otext.split("");
        var i = 0;
        function show() {
            if (i < Ocontent.length) {
                cont1.append(Ocontent[i]);
                i = i + 1;
            };
        };
        setInterval(show, speed);
    };
    $(document).ready(function () {
        setInterval(WriteText, 5000);
        setInterval(changeText, 6000);
    });
</script>
<div class="container-lg justify-content-center" style="max-width:877px;">
<h1 class="p1 text-center alert alert-success border border-light shadow" style="font-style: italic; font-size: 25px; font-weight: bold; height: 57px; color: #ffffff; background-color: #14ad57; "></h1>
</div>
<h1 class="p2 text-center" style="font-size: 0px;" id="example">Welcome to Nominee Project!</h1>
<div class="container-lg" style="max-width: 881px !important; max-height: 586px; margin-bottom: 24px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h5 class="position-absolute top-50 start-50 translate-middle" style="color:white;font-size:52px;"><b>ANALYTICS 📈📊</b></h5>
                <img src="~/images/1.png" class="d-block w-100 border border-3 rounded-3 shadow" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p style="font-size:25px;" class="animated bounce infinite"><b>Our System provide the best analytics to your nominees.</b></p>
                </div>
            </div>
            <div class="carousel-item">
                <h5 class="position-absolute top-50 start-50 translate-middle" style="color:white;font-size:52px; font-family:Poppins;"><b>WORKING 💻🖥</b></h5>
                <img src="~/images/2.png" class="d-block w-100 border border-3 rounded-3 shadow" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p style="font-size: 25px; font-family: Poppins;"><b>Always are working for you and your nominees, using the best technology and tools on the market.</b></p>
                </div>
            </div>
            <div class="carousel-item">
                <h5 class="position-absolute top-50 start-50 translate-middle" style="color:white;font-size:52px;"><b>CREATIVITY 💡</b></h5>
                <img src="~/images/3.png" class="d-block w-100 border border-3 rounded-3 shadow" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p style="font-size:25px;"><b>Our team have the experience to make your dream come true and affordable for you.</b></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>